.postsContent {
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0em;
  margin-bottom: 0.4em;
}

.postsDate {
  font-size: 26px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  margin-top: 0.4em;
}
